* {
	box-sizing: border-box;
	margin: 10px;
}

/*Pokemon colors:
red- #cc0000
blue- #3b4cca
yellow- #ffde00*/

:root {
	--primary-background-color: #cc0000; /*red*/
	--secondary-background-color:#000000 /*black*/;
	--primary-text-color: #fff; /*white*/
	--primary-accent-color: #0000000 /*black*/ ;
	--font-weight-primary: 700;
}

body {

	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	font-weight: var(--font-weight-primary);
	margin-left: 40px ;

}

h2 {
	font-size: 24px;
	font-weight: var(--font-weight-primary);
	margin-left: 40px
}

h3 {
	font-size: 18px;
	font-weight: 475;
	margin-left: 40px
}

.pokemon-name-button {
  background-color: white;
  border: none;
  color: #fff; /*text color of pokemon name*/
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #3b4cca; /*inside the box*/
  border: 4px solid #ffde00; /*border of box*/
}

.pokemon-list {
  list-style: none
}

/*Start grid fallback*/
.grid__item {
	display: inline-block;
	width: 33%;
}
/*End grid fallback*/

@supports (display: grid) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 15px;
		margin: 0;
	}

	.grid-item {
		background-color: #ff1b1b;
		width: auto;
		min-height: auto;
		margin: 0;
		padding: 15px;
		text-align: center;
	}
}
